

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'movies:list' %}">
    <i class="fas fa-video"></i>
    MoMo
  </a>


  
  
  {% if user.is_authenticated %}
  {% if user.is_superuser %}
  <a class="navbar-brand" href="/admin/">
      관리자 전용페이지
  </a>
  
  <a class="navbar-brand" href="{% url 'accounts:calculate' %}">
      결과정산하기
  </a>
  
  <a class="navbar-brand" href="{% url 'movies:getdata' %}">
      영화정보 업데이트
  </a>
  {% endif %}
  {% endif %}
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
      <li class="nav-item">
        <!--<a class="nav-link" href="">내글보기</a>-->
      </li>
      {% if not user.is_superuser %}
      <li class="nav-item">
        <a class="nav-link" tabindex="-1" aria-disabled="true">{{ user }}님 포인트 {{ user.points }} MoMo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:user_detail' user.id %}" tabindex="-1" aria-disabled="true">마이페이지</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" tabindex="-1" aria-disabled="true">{{ user }}</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:logout' %}">로그아웃</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:signup' %}">회원가입</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:login' %}">로그인</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>


