{% extends 'base.html' %}

{% block body %}
<style>
    table {
        counter-reset: rowNumber-1;
    }
    
    table tr {
        counter-increment: rowNumber;
    }
    
    table tr td:first-child::before {
        content: counter(rowNumber);
        min-width: 1em;
        margin-right: 0.5em;
    }
</style>

<h1>지난 환전 내역</h1>
<p class="text-danger">환전 내역은 1달 뒤 소멸됩니다.</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">환전 금액</th>
      <th scope="col">환전 날짜</th>
      <th scope="col">환전 상태</th>
    </tr>
  </thead>
  <tbody>
      {% for i in money %}
    <tr>
      <td scope="row"></td>
      <td>{{ i.money }}</td>
      <td>{{ i.date }}</td>
      <td>{{ i.status }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<p class="text-right text-danger">승인 거절은 전화문의 부탁드립니다.</p>
{% endblock %}