{% extends 'base.html' %}
{% block body %}



<p>user name : {{user_infos.username}}</p>
<p>last name : {{user_infos.last_name}}</p>
<p>first name : {{user_infos.first_name}}</p>


<table>
  <tr>
    <th>참가한 날짜</th>
    <th>영화제목</th>
    <th>up/down</th>
    <th>배당율</th>  
    <th>points</th>  
    <th>승패</th>
  </tr>
  

  {% for match in matches %}
  <tr>
    <td>{{match.match.date}}</td>
    <td>{{match.match.movie}}</td>
    
    {{match.updown }}
    
    {% if match.updown == 1 %}
    <td>Up</td>
    <td>{{match.match.uprate}}</td>
    {% else %}
    <td>Down</td>
    <td>{{match.match.downrate}}</td>
    {% endif %}
    <td>{{match.points}}</td>
    
    {% if match.win == 1 %}
    <td>승</td>
    {% elif match.win == 2 %}
    <td>패</td>
    {% else %}
    <td>내일발표</td>
    {% endif %}
  </tr>
  {% endfor %}

</table>      
{% endblock %}