{% extends 'base.html' %}

{% block body %}
<h1>마이페이지</h1>
<hr>
<div class="form-group row">
  <label for="inputEmail3" class="col-sm-2 col-form-label">ID</label>
  <div class="col-sm-10">
    <p class="form-control">{{ user_infos.username }}</p>
  </div>
</div>
<div class="form-group row">
  <label for="inputEmail3" class="col-sm-2 col-form-label">ID</label>
  <div class="col-sm-10">
    <p class="form-control">{{ user_infos.username }}</p>
  </div>
</div>
<div class="form-group row">
  <label for="inputEmail3" class="col-sm-2 col-form-label">ID</label>
  <div class="col-sm-10">
    <p class="form-control">{{ user_infos.username }}</p>
  </div>
</div>
<div class="form-group row">
  <label for="inputEmail3" class="col-sm-2 col-form-label">ID</label>
  <div class="col-sm-10">
    <p class="form-control">{{ user_infos.username }}</p>
  </div>
</div>


<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">유저 ID</span>
  </div>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" value="{{ user_infos.username }}" readonly>
</div>

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <span class="input-group-text" id="basic-addon2">@example.com</span>
  </div>
</div>

<label for="basic-url">Your vanity URL</label>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
  </div>
  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">$</span>
  </div>
  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
  <div class="input-group-append">
    <span class="input-group-text">.00</span>
  </div>
</div>

<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">With textarea</span>
  </div>
  <textarea class="form-control" aria-label="With textarea"></textarea>
</div>

<p>user name : {{user_infos.username}}</p>
<p>last name : {{user_infos.last_name}}</p>
<p>first name : {{user_infos.first_name}}</p>
<p>points : {{user_infos.points }}</p>

<table>
  <tr>
    <th>참가한 날짜</th>
    <th>영화제목</th>
    <th>up/down</th>
    <th>배당율</th>  
    <th>points</th>  
    <th>승패</th>
  </tr>
  

  {% for match in matches %}
  <tr>
    <td>{{match.match.date}}</td>
    <td>{{match.match.movie}}</td>
    
    
    {% if match.updown == 1 %}
    <td>Up</td>
    <td>{{match.match.uprate}}</td>
    {% else %}
    <td>Down</td>
    <td>{{match.match.downrate}}</td>
    {% endif %}
    <td>{{match.points}}</td>
    
    {% if match.win == 1 %}
    <td>승</td>
    {% elif match.win == 2 %}
    <td>패</td>
    {% else %}
    <td>
      <form action = "{% url 'accounts:refund' match.id %}" method = "POST"> 
      {% csrf_token %}
      <button type="submit" class="btn btn-info">취소하기</button>
      </form>
    </td>
    {% endif %}
  </tr>
  {% endfor %}

</table>      
{% endblock %}