{% extends 'base.html' %}

{% block body %}
  
  {% for match in matches %}
    
  <div class="card">
    <div class="row">
      <div class="col-3 d-flex justify-content-center align-self-center">
        <a href="{% url 'accounts:up_money' match.id %}">
          <i class="fas fa-thumbs-up d-flex justify-content-center" style="font-size:5rem;color:red;" ></i>
          <p style="font-size:5rem;color:red;">X 1.7</p>
        </a>
      </div>
      
      <div class="col-6">
        <div class="card-body text-center">
        <img class="card-img-top" src={{match.movie.poster_url}} alt={{match.movie.title}}>  
          <h5 class="card-title">{{match.movie.title}}</h5>
          <p class="card-text">
              <small class="text-muted">{{match.movie.audience}}</small>
          </p>
          <a href="#" class="btn btn-primary" @click="toggleDetail(match.movie.id)">영화 상세 보기</a>
        </div>  
      </div>
      
      <div class="col-3 d-flex justify-content-center align-self-center">
        <a href="{% url 'accounts:down_money' match.id %}">
          <i class="fas fa-thumbs-down d-flex justify-content-center" style="font-size:5rem;color:blue"></i>
          <p style="font-size:5rem;color:blue">X 1.7</p>
        </a>
      </div>
    </div>
    
  {% endfor %}                  
  </div>

  
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();
    
    if(dd<10) {
     dd='0'+dd
    }
    
    if(mm<10) {
     mm='0'+mm
    }
    
    today = yyyy+mm+dd
    const app = new Vue({
      el: '#main',
      data: {
        // c9 주소
        url: 'https://openapi.naver.com/v1/search/movie?query?',
        params: {
          'key':'db2280283c7ae6f2389c5ab040847efe',
          'targetDt':today-1,
          'itemPerPage':10
        },
        content: '',
        memos: [],
        
      },
      methods: {
        // 서버로 요청을 보내서 memo를 작성하고 응답받은 memo 데이터를 this.memos에 push
        writeMemo: function () {
          axios.get(`${this.url}key=${this.params.key}&targetDt=${this.params.targetDt}&itemPerPage=${this.params.itemPerPage}`)
            .then(response => {
              this.getMethod()
              this.content = ''
              console.log(response.data)
            })
          axios.get(``)
        },
        getMethod: function(){
          axios.get(this.url)
          .then(response => {
            this.memos = response.data
          })
        },
        delete_memo: function(memo_id){
          console.log(memo_id)
          axios.delete(this.url+memo_id+"/")
          this.getMethod()
        }
      },
      // 서버로 요청을 보내서 memeos를 불러온 뒤 this.memos에 할당
      created: function () {
        this.getMethod()
      }
    })
  </script>


{% endblock %}