{% extends 'base.html' %}
{% block body %}
<style>
    table {
        counter-reset: rowNumber-1;
    }
    
    table tr {
        counter-increment: rowNumber;
    }
    
    table tr td:first-child::before {
        content: counter(rowNumber);
        min-width: 1em;
        margin-right: 0.5em;
    }
</style>
<h1>영화 MoMo 구매</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col" class="text-center">No.</th>
      <th scope="col" class="text-center">영화제목</th>
      <th scope="col" class="text-center">up</th>
      <th scope="col" class="text-center">기준 관객수</th>
      <th scope="col" class="text-center">down</th>
      <th scope="col" class="text-center">구매하기</th>
    </tr>
  </thead>
  <tbody>
    {% for match in matches %}
      <tr>
        <td class="text-center"></td>
        <td class="text-center">{{match.movie}}</td>
        <td class="text-center">{{match.uprate}}</td>
        <td class="text-center">{{match.standard}}</td>
        <td class="text-center">{{match.downrate}}</td>
        <td class="text-center">
            <form action = "{% url 'accounts:purchase' match.id %}" method = "POST"> 
                {% csrf_token %}
                <input type="radio" name="updown_code" value="1" checked/>UP
                <input type="radio" name="updown_code" value="2"/>DOWN
                <input type="number" name="points" value="0" max="50000"/>
                <button type="submit" class="btn btn-info">구매하기</button>
            </form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

    
{% endblock %}