{% extends 'base.html' %}
{% block body %}
    
    <table>
        <tr>
            <th class="text-center">영화제목</th>
            <th class="text-center">up배당율</th>
            <th class="text-center">기준 관객수</th>
            <th class="text-center">down배당율</th>
            <th class="text-center">구매하기</th>
        </tr>
        {% for match in matches %}
        <tr>
            <th>{{match.movie}}</th>
            <td>{{match.uprate}}</td>
            <td>{{match.standard}}</td>
            <td>{{match.downrate}}</td>
            <td>
                <form action = "{% url 'accounts:purchase' match.id %}" method = "POST"> 
                    {% csrf_token %}
                    <input type="radio" name="updown_code" value="1"/>UP
                    <input type="radio" name="updown_code" value="2"/>DOWN
                    <input type="number" name="points" value="0" max="50000"/>
                    <button type="submit" class="btn btn-info">구매하기</button>
                </form>
                
            </td>
            
            
        </tr>
        {% endfor %}
    </table>
    
    
    

{% endblock %}